body {
    /* background-color: #222222; */
    color: #000000;

}

.main {
    display: flex;
}

#img {
    margin-top: 0px;
}

.formarea,
.formarea2 {
    margin-top : 10vh;
    margin-left: 2vw;
    max-width  : 20vw;
}

.mdl-radio {
    display: block;
}

#canvas {
    border: 3px solid white;
}

.mdl-slider.is-upgraded {
    background: #000000;
}


#name,
#id,
#id_tw,
#id_dc,
#class1_lv,
#class2_lv,
#class3_lv,
#class4_lv,
#rank,
#ps_area,
#guild_name,
#game_exp,
#free_com {
    background-color: #ECF4FE;
}